

.size_250x600, 		
.size_250x600 .ui-logo,
.size_250x600 .cnt-element,
.size_250x600 .transform-x,
.size_250x600 .transform-y {width: 250px; height: 600px;}

.size_320x320, 			
.size_320x320 .ui-logo,
.size_320x320 .cnt-element,
.size_320x320 .transform-x,
.size_320x320 .transform-y {width: 320px; height: 320px;}

.size_320x400, 		
.size_320x400 .ui-logo,
.size_320x400 .cnt-element,
.size_320x400 .transform-x,
.size_320x400 .transform-y {width: 320px; height: 400px;}

.size_320x480, 		
.size_320x480 .ui-logo,
.size_320x480 .cnt-element,
.size_320x480 .transform-x,
.size_320x480 .transform-y {width: 320px; height: 480px;}

.size_980x240, 		
.size_980x240 .ui-logo,
.size_980x240 .cnt-element,
.size_980x240 .transform-x,
.size_980x240 .transform-y {width: 980px; height: 240px;}

.size_980x120, 		
.size_980x120 .ui-logo,
.size_980x120 .cnt-element,
.size_980x120 .transform-x,
.size_980x120 .transform-y {width: 980px; height: 120px;}

.size_320x50, 		     
.size_320x50 .ui-logo,
.size_320x50 .cnt-element,
.size_320x50 .transform-x,
.size_320x50 .transform-y {width: 320px; height: 50px;}

.size_320x80, 		     
.size_320x80 .ui-logo,
.size_320x80 .cnt-element,
.size_320x80 .transform-x,
.size_320x80 .transform-y {width: 320px; height: 80px;}

.size_300x600, 		
.size_300x600 .ui-logo,
.size_300x600 .cnt-element,
.size_300x600 .transform-x,
.size_300x600 .transform-y {width: 300px; height: 600px;}

.size_320x600, 		
.size_320x600 .ui-logo,
.size_320x600 .cnt-element,
.size_320x600 .transform-x,
.size_320x600 .transform-y {width: 320px; height: 600px;}

.size_160x600, 		
.size_160x600 .ui-logo,
.size_160x600 .cnt-element,
.size_160x600 .transform-x,
.size_160x600 .transform-y {width: 160px; height: 600px;}

.size_728x180, 		
.size_728x180 .ui-logo,
.size_728x180 .cnt-element,
.size_728x180 .transform-x,
.size_728x180 .transform-y {width: 728px; height: 180px;}

.size_728x90, 		
.size_728x90 .ui-logo,
.size_728x90 .cnt-element,
.size_728x90 .transform-x,
.size_728x90 .transform-y {width: 728px; height: 90px;}

.size_720x120,	 	
.size_720x120.ui-logo,
.size_720x120 .cnt-element,
.size_720x120 .transform-x,
.size_720x120 .transform-y {width: 720px; height: 120px;}

.size_730x120, 		
.size_730x120 .ui-logo,
.size_730x120 .cnt-element,
.size_730x120 .transform-x,
.size_730x120 .transform-y {width: 730px; height: 120px;}

.size_980x360, 		
.size_980x360 .ui-logo,
.size_980x360 .cnt-element,
.size_980x360 .transform-x,
.size_980x360 .transform-y {width: 980px; height: 360px;}

.size_640x320, 		
.size_640x320 .ui-logo,
.size_640x320 .cnt-element,
.size_640x320 .transform-x,
.size_640x320 .transform-y {width: 640px; height: 320px;}

.size_640x360, 		
.size_640x360 .ui-logo,
.size_640x360 .cnt-element,
.size_640x360 .transform-x,
.size_640x360 .transform-y {width: 640px; height: 360px;}

.size_680x1300, 		
.size_680x1300 .ui-logo,
.size_680x1300 .cnt-element,
.size_680x1300 .transform-x,
.size_680x1300 .transform-y {width: 680px; height: 1300px;}

.size_640x100, 		
.size_640x100 .ui-logo,
.size_640x100 .cnt-element,
.size_640x100 .transform-x,
.size_640x100 .transform-y {width: 640px; height: 100px;}

.size_640x180, 		
.size_640x180 .ui-logo,
.size_640x180 .cnt-element,
.size_640x180 .transform-x,
.size_640x180 .transform-y {width: 640px; height: 180px;}

.size_300x250, 		
.size_300x250 .ui-logo,
.size_300x250 .cnt-element,
.size_300x250 .transform-x,
.size_300x250 .transform-y {width: 300px; height: 250px;}

.size_320x50, 		
.size_320x50 .ui-logo,
.size_320x50 .cnt-element,
.size_320x50 .transform-x,
.size_320x50 .transform-y {width: 320px; height: 50px;}

.size_680x1200, 		
.size_680x1200 .ui-logo,
.size_680x1200 .cnt-element,
.size_680x1200 .transform-x,
.size_680x1200 .transform-y {width: 680px; height: 1200px;}

.size_680x120, 		
.size_680x120 .ui-logo,
.size_680x120 .cnt-element,
.size_680x120 .transform-x,
.size_680x120 .transform-y {width: 680px; height: 120px;}

.size_680x100, 		
.size_680x100 .ui-logo,
.size_680x100 .cnt-element,
.size_680x100 .transform-x,
.size_680x100 .transform-y {width: 680px; height: 100px;}

.size_640x100, 		
.size_640x100 .ui-logo,
.size_640x100 .cnt-element,
.size_640x100 .transform-x,
.size_640x100 .transform-y {width: 640px; height: 100px;}
